vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|13 Jun 2012 14:15:16 -0000
vti_extenderversion:SR|5.0.2.4803
vti_backlinkinfo:VX|
vti_author:SR|txpave5
vti_modifiedby:SR|txpave5
vti_nexttolasttimemodified:TR|13 Jun 2012 14:15:16 -0000
vti_timecreated:TR|23 Jan 2013 04:16:16 -0000
vti_syncwith_localhost\\c\:\\apm_setup\\htdocs/c\:/apm_setup/htdocs:TR|13 Jun 2012 14:15:16 -0000
vti_syncwith_localhost\\c\:\\apm_setup\\htdocs\\txpave_v2/c\:/apm_setup/htdocs/txpave_v2:TR|13 Jun 2012 14:15:16 -0000
vti_cacheddtm:TX|03 Apr 2013 00:12:33 -0000
vti_filesize:IR|11857
vti_cachedlinkinfo:VX|S|/images/logo.gif S|/images/bg-navborder.png S|/images/my-studio-bg1.png S|/images/button-sign_up.png
vti_cachedsvcrellinks:VX|NSUS|images/logo.gif NSUS|images/bg-navborder.png NSUS|images/my-studio-bg1.png NSUS|images/button-sign_up.png
