vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|24 Apr 2013 18:50:06 -0000
vti_extenderversion:SR|5.0.2.4803
vti_backlinkinfo:VX|
vti_author:SR|txpave5
vti_modifiedby:SR|txpave5
vti_nexttolasttimemodified:TR|24 Apr 2013 18:50:06 -0000
vti_timecreated:TR|23 Jan 2013 04:16:16 -0000
vti_syncwith_localhost\\c\:\\apm_setup\\htdocs/c\:/apm_setup/htdocs:TR|29 Jan 2013 22:44:26 -0000
vti_syncwith_localhost\\c\:\\apm_setup\\htdocs\\txpave_v2/c\:/apm_setup/htdocs/txpave_v2:TR|24 Apr 2013 18:50:06 -0000
vti_cacheddtm:TX|25 Apr 2013 22:23:25 -0000
vti_filesize:IR|4891
vti_cachedlinkinfo:VX|S|../../Scripts/libs/jqwidgets/resources/ajax-loader.gif S|../images/info.png
vti_cachedsvcrellinks:VX|FSUS|Scripts/libs/jqwidgets/resources/ajax-loader.gif FSUS|Content/images/info.png
