<div style='margin: 3px;'>
	<span style='float: left; margin-top: 5px; margin-right: 4px;'>Column: </span>
	<div style='float: left;' id='dcis-columns'></div>
	<span style='float: left; margin-top: 5px; margin-left: 8px; margin-right:4px'>Fiscal Year: </span>
	<div style='float: left;' id='dcis-fiscalyears'></div>
	<input style='float: left; margin-left: 4px;' type='button' value='Reload' id='dcis-reload' />
</div>