<div id="cs-prediction-window" style='font-size:13px'>
	<div>CS Prediction Model Parameters</div>
	<div id="cs-prediction-window-content">
		<!--<div id='combo-cs-preset' style="margin-top: 5px;margin-bottom:5px;"></div>-->
		<fieldset style='margin-bottom:7px'>
		<legend>Formula</legend>
		<div style='width:200px'>
		<img style='float:left;position:relative;left:50%;' src="http://latex.codecogs.com/gif.latex?\dpi{150} CS=CS_0[1-e^{-(\rho/age)^\beta}]" title="\dpi{150} CS=CS_0[1-e^{-(\rho/age)^\beta}]" /></div>
		</fieldset>
		<fieldset>
			<legend>CS Prediction Coefficients:</legend>
			<div id="tabbar-cs-prediction-model-panel">
				<div id="tabbar-cs-prediction-model">
					<ul>
						<li style="margin-left: 15px;">PM</li>
						<li>LR</li>
						<li>MR</li>
						<li>HR</li>
					</ul>
					<div id="tab-cs-PM"><div id='grid-cs-PM'></div></div>
				    <div id="tab-cs-LR"><div id='grid-cs-LR'></div></div>
					<div id="tab-cs-MR"><div id='grid-cs-MR'></div></div>
					<div id="tab-cs-HR"><div id='grid-cs-HR'></div></div>
				</div>
			</div>
	    </fieldset>	    
		<div style="float: right; margin-top: 10px;">
			<input type="button" id="cs-prediction-window-restore" value="Set to Default" />
			<!--<input type="button" id="cs-prediction-window-saveas" value="Save As.." />-->
			<input type="button" id="cs-prediction-window-ok" value="Save" />
			<input type="button" id="cs-prediction-window-cancel" value="Cancel" />
		</div>
	</div>
</div>