<div id="data-clean-window" style='font-size:13px'>
	<div>Set Data Cleaning Options</div>
	<div id="data-clean-window-content">
		<fieldset><legend>Options:</legend>
	    <div class='window-row'>
	        <label style='width:230px;'>Minimum Acceptable Condition Score:</label>
	        <div id='min-cs-threshold'></div>
	    </div>
	    <div class='window-row'>
	        <label style='width:230px;'>Minimum Acceptable Uride Score:</label>
	        <div id='min-uride-threshold'></div>
	    </div>
	    
	    <div class='window-row'>
	        <label style='width:230px;'>Reset Value for Ride Score:</label>
	        <div id='reset-ride'></div>
	    </div>
	    </fieldset>
		<div style="float: right; margin-top: 10px;">
			<input type="button" id="data-clean-window-ok" value="Start Data Cleaning" />
			<input type="button" id="data-clean-window-cancel" value="Cancel" />
		</div>
	</div>
</div>