<div id="gain-rating-window" style='font-size:13px'>
	<div>Set Gaining Rating</div>
	<div id="gain-rating-window-content">
		<fieldset><legend>Set Gaining Rating</legend>
		<table class='hor-minimalist-b' style='width:400px;'>
			<thead>
			<tr><th>Treatment Type</th><th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Set Gaining Rating</th></tr>
			</thead>
			<tbody>
			<tr><td>PM</td>
				<td><table class='inner-hor-minimalist-b'><tr><td>Increase Ride Score By</td><td><div style='float:right;' id='pm-rs-increaseby'></div></td></tr>
				<tr><td>Reset Distress Score To</td><td><div style='float:right;' id='pm-ds-resetto'></div></td></tr></table>
				</td>
			</tr>
			<tr><td>LR</td>
				<td><table class='inner-hor-minimalist-b'><tr><td>Increase Ride Score By</td><td><div style='float:right;' id='lr-rs-increaseby'></div></td></tr>
				<tr><td>Reset Distress Score To</td><td><div style='text-align:right' id='lr-ds-resetto'></div></td></tr></table>
				</td>
			</tr>
			<tr><td>MR</td>
				<td><table class='inner-hor-minimalist-b'><tr><td>Reset Ride Score To</td><td><div style='float:right;' id='mr-rs-resetto'></div></td></tr>
				<tr><td>Reset Distress Score To</td><td><div style='text-align:right' id='mr-ds-resetto'></div></td></tr></table>
				</td>
			</tr>
			<tr><td>HR</td>
				<td><table class='inner-hor-minimalist-b'><tr><td>Reset Ride Score To</td><td><div style='float:right;' id='hr-rs-resetto'></div></td></tr>
				<tr><td>Reset Distress Score To</td><td><div style='text-align:right' id='hr-ds-resetto'></div></td></tr></table>
				</td>
			</tr>
			</tbody>
		</table>
		</fieldset>
		<div style="float: right; margin-top: 10px;">
			<input type="button" id="gain-rating-window-restore" value="Set to Default" />
			<input type="button" id="gain-rating-window-ok" value="Save" />
			<input type="button" id="gain-rating-window-cancel" value="Cancel" />
		</div>
	</div>
</div>


<!--
	<div id="gain-rating-window" style='font-size:13px'>
	<div>Set Gaining Rating</div>
	<div id="gain-rating-window-content">
		<fieldset><legend>Set Gaining Rating</legend>
		<table class='hor-minimalist-b' style='width:600px;'>
			<thead>
			<tr><th>Treatment Type</th><th>Set Gaining Rating</th></tr>
			</thead>
			<tbody>
			<tr><td>PM</td>
				<td><table class='inner-hor-minimalist-b'><tr><td>Increase Ride Score By</td><td><div style='float:right;' id='pm-ds-increaseby'></div></td>
				<tr><td>Reset to</td><td><input type='text' style='text-align:right' id='pm-ds-resetto' readonly /></td></tr></table>
				</td>
				<td><table class='inner-hor-minimalist-b'><tr><td>Increase by</td><td><div style='float:right;' id='pm-rs-increaseby'></div></td>
				<tr><td>Reset to</td><td><input type='text' style='text-align:right' id='pm-rs-resetto' readonly /></td></tr></table></td>
			</tr>
			<tr><td>LR</td>
				<td><table class='inner-hor-minimalist-b'><tr><td>Increase by</td><td><div style='float:right;' id='lr-ds-increaseby'></div></td>
				<tr><td>Reset to</td><td><input type='text' style='text-align:right' id='lr-ds-resetto' readonly /></td></tr></table>
				</td>
				<td><table class='inner-hor-minimalist-b'><tr><td>Increase by</td><td><div style='float:right;' id='lr-rs-increaseby'></div></td>
				<tr><td>Reset to</td><td><input type='text' style='text-align:right' id='lr-rs-resetto' readonly /></td></tr></table></td>
			</tr>
			<tr><td>MR</td>
				<td><table class='inner-hor-minimalist-b'><tr><td>Increase by</td><td><div style='float:right;' id='mr-ds-increaseby'></div></td>
				<tr><td>Reset to</td><td><input type='text' style='text-align:right' id='mr-ds-resetto' readonly /></td></tr></table>
				</td>
				<td><table class='inner-hor-minimalist-b'><tr><td>Increase by</td><td><div style='float:right;' id='mr-rs-increaseby'></div></td>
				<tr><td>Reset to</td><td><input type='text' style='text-align:right' id='mr-rs-resetto' readonly /></td></tr></table></td>
			</tr>
			<tr><td>HR</td>
				<td><table class='inner-hor-minimalist-b'><tr><td>Increase by</td><td><div style='float:right;' id='hr-ds-increaseby'></div></td>
				<tr><td>Reset to</td><td><input type='text' style='text-align:right' id='hr-ds-resetto' readonly /></td></tr></table>
				</td>
				<td><table class='inner-hor-minimalist-b'><tr><td>Increase by</td><td><div style='float:right;' id='hr-rs-increaseby'></div></td>
				<tr><td>Reset to</td><td><input type='text' style='text-align:right' id='hr-rs-resetto' readonly /></td></tr></table></td>
			</tr>
			</tbody>
		</table>
		</fieldset>
		<div style="float: right; margin-top: 10px;">
			<input type="button" id="gain-rating-window-restore" value="Set to Default" />
			<input type="button" id="gain-rating-window-ok" value="Save" />
			<input type="button" id="gain-rating-window-cancel" value="Cancel" />
		</div>
	</div>
</div>
-->