<div id="progress-window" style='font-size:13px'>
	<div>In Progress</div>
	<div id="progress-window-content">
		<div style='margin-bottom:5px;height:35px' id='progressbar'></div>
		<div id='progressmsg'></div>
	</div>
</div>