<div id="report-summary-window" style='font-size:13px'>
	<div>Summary of Projects</div>
	<div id="report-summary-window-content">
		<fieldset><legend>Summary of Projects:</legend>
	    <div id="tabbar-summary-panel">
			<div id="tabbar-summary">
				<ul>
					<li style='margin-left:15px'>Lane-Miles of Funded Projects</li>
					<li>Expenditure, 1000$</li>
				</ul>
				<!--<div id="tab-report-number-of-projects"><div id='number-projects-mnr-grid'></div></div>-->
				<div id="tab-report-lane-miles-projects"><div id='number-lanemiles-mnr-grid'></div></div>
				<div id="tab-report-budget-required"><div id='number-budget-grid'></div></div>
			</div>
		</div>
	    </fieldset>
		<div style="float: right; margin-top: 10px;">
			<input type="button" id="report-summary-window-ok" value="Close" />
		</div>
	</div>
</div>