<div id="saveas-window" style='font-size:13px'>
	<div>Save As...</div>
	<div id="saveas-window-content">
		<form id="saveas-form" action="./">
		<fieldset>
	    <div class='window-row'>
	    	<table border=0>
	    	<tr><td style='vertical-align:middle;'>
	    	<label style='width:auto;padding:0 3px 0 0;margin:0'>Enter Name:</label>
	    	</td><td>
	    	<input type="text" id="saveas-input"/>
	    	</td>
	    	</table>   
	    </div>
	    </fieldset>
		<div style="float: right; margin-top: 10px;">
			<input type="button" id="saveas-window-ok" value="OK" />
			<input type="button" id="saveas-window-cancel" value="Cancel" />
		</div>
		</form>
	</div>
</div>