<div id='detail-container' style='display:none;margin-left:2px;margin-top:2px'>
	<div style='margin-bottom:2px;width:300px;' class='heading'>Sections That Belongs To Selected Segment</div>
	<div id='detail-grid'></div>
</div>
<div id="map-canvas"></div>