<div class='heading' style='width:200px'>Pavement Data Tables</div>
<div id="splitter">
    <div id="top-pane">
        
    </div>
    <div id="bottom-pane">
        <h3>Outer splitter / bottom pane</h3>
        <p>Non-resizable and non-collapsible.</p>
    </div>
</div>
