<div id="menu_wrapper" class="main_ui">
	<div id="menu">
        <ul>
			<li>Data
				<ul style='width: 250px;'>
					<li id="menu-seg-opt-window">Segmentation</li>
					<li id="menu-assess-opt-window">District Assessment</li>
				</ul>
			</li>
			<li id='menu-analysis-window'>Analysis
				<!--<ul style='width: 350px;'>
					<li type='separator'></li>
					<li><a href="#">Traffic Forecast</a></li>
					<li type='separator'></li>
					<li><a href="#" id='menu-unitcost-window'>Rehabilitation Unit Costs</a></li>
					<li><a href="#">Rehabilitation Effects</a></li>
					<li type='separator'></li>
					<li><a href="#" id='menu-ahp-window'>AHP Score Weight</a></li>
				</ul>-->
			</li>
			<li id='menu-report-window'>Report
			</li>
			<li>Help
			</li>
			<li id='menu-generate-pdf'>PDF
			</li>
		</ul>
    </div>
</div>
